<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="app_view" class="home_view">
        <div id="home_view" class="view">
            <div class="content-wrapper">
                <div class="nav">
                    <ul>
                        <li class="home-btn-wrapper btn-to" data-to="play_view"><button id="start" class="home-btn">Spiel starten</button></li>
                        <li class="home-btn-wrapper btn-to" data-to="intructions_view"><button class="home-btn">Anleitung</button></li>
                        <li class="home-btn-wrapper btn-to" data-to="highscore_view"><button class="home-btn">highscore</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="play_view" class="view">
            <button class="btn btn-to" data-to="home_view">Home</button>
            <div id="canvas-container">
            </div>
        </div>
        <div id="intructions_view" class="view">
            <div class="content-wrapper">
                <h2 class="headers-view">Anleitung</h2>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae consequatur repudiandae esse saepe ab debitis neque, dolores aliquam culpa nemo! Beatae sequi molestias doloremque nemo magnam fugit tempore quibusdam voluptatem?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae consequatur repudiandae esse saepe ab debitis neque, dolores aliquam culpa nemo! Beatae sequi molestias doloremque nemo magnam fugit tempore quibusdam voluptatem?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae consequatur repudiandae esse saepe ab debitis neque, dolores aliquam culpa nemo! Beatae sequi molestias doloremque nemo magnam fugit tempore quibusdam voluptatem?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae consequatur repudiandae esse saepe ab debitis neque, dolores aliquam culpa nemo! Beatae sequi molestias doloremque nemo magnam fugit tempore quibusdam voluptatem?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae consequatur repudiandae esse saepe ab debitis neque, dolores aliquam culpa nemo! Beatae sequi molestias doloremque nemo magnam fugit tempore quibusdam voluptatem?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae consequatur repudiandae esse saepe ab debitis neque, dolores aliquam culpa nemo! Beatae sequi molestias doloremque nemo magnam fugit tempore quibusdam voluptatem?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae consequatur repudiandae esse saepe ab debitis neque, dolores aliquam culpa nemo! Beatae sequi molestias doloremque nemo magnam fugit tempore quibusdam voluptatem?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae consequatur repudiandae esse saepe ab debitis neque, dolores aliquam culpa nemo! Beatae sequi molestias doloremque nemo magnam fugit tempore quibusdam voluptatem?
                    </p>
                </div>
                <div class="btn-wrapper">
                    <button class="btn btn-to" data-to="home_view">Home</button>
                </div>
            </div>
        </div>
        <div id="highscore_view" class="view">
            <div class="content-wrapper">
                <h2 class="headers-view">Highscore</h2>
                <div class="content">
                    <table class="table">
                        <tr>
                          <th>Id</th>
                          <th>Nickname</th>
                          <th>Score</th>
                        </tr>
                        <tr>
                          <td>01</td>
                          <td>Capitan</td>
                          <td>265784</td>
                        </tr>
                        <tr>
                          <td>01</td>
                          <td>Capitan</td>
                          <td>265784</td>
                        </tr>
                        <tr>
                          <td>01</td>
                          <td>Capitan</td>
                          <td>265784</td>
                        </tr>
                        <tr>
                          <td>01</td>
                          <td>Capitan</td>
                          <td>265784</td>
                        </tr>
                        <tr>
                          <td>01</td>
                          <td>Capitan</td>
                          <td>265784</td>
                        </tr>
                        <tr>
                          <td>01</td>
                          <td>Capitan</td>
                          <td>265784</td>
                        </tr>
                        <tr>
                          <td>01</td>
                          <td>Capitan</td>
                          <td>265784</td>
                        </tr>
                        <tr>
                          <td>01</td>
                          <td>Capitan</td>
                          <td>265784</td>
                        </tr>
                        <tr>
                          <td>01</td>
                          <td>Capitan</td>
                          <td>265784</td>
                        </tr>
                        <tr>
                          <td>01</td>
                          <td>Capitan</td>
                          <td>265784</td>
                        </tr>
                        <tr>
                          <td>01</td>
                          <td>Capitan</td>
                          <td>265784</td>
                        </tr>
                    </table>
                </div>
                <div class="btn-wrapper">
                    <button class="btn btn-to" data-to="home_view">Home</button>
                </div>
            </div>
        </div>
        <footer class="footer">
            <button class="btn-to">Impressum</button>
            <button class="btn-to">Datenschutzhinweis</button>
            <button class="btn-to">Teilnahmebedingungen</button>
        </footer>
    </div>
</body>
</html>