@mixin setDisplay($viewName) {
    .#{$viewName} {
      ##{$viewName} {
        display: block;
      }
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: var(--body-color);
    font-size: var(--body-fz);
    background-image: url(../img/body-bg.jpg);
    background-size: cover;
    font-family: 'Poppins';

    #app_view {
        width: 960px;
        height: 540px;
        position: relative;
        overflow: hidden;
        border: var(--app-border);
        border-radius: var(--app-border-radius);
    }

    button, .btn, .btn-to {
        cursor: pointer;
    }
}

@include setDisplay('play_view');
@include setDisplay('home_view');
@include setDisplay('intructions_view');
@include setDisplay('highscore_view');