@mixin setDisplay($viewName) {
    .#{$viewName} {
      ##{$viewName} {
        display: block;
      }
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#app_view {
    width: 960px;
    height: 540px;

    .view {
        width: 100%;
        height: 100%;
        display: none;

        &#home_view {
            background-color: green;
        }

        &#intructions_view {
            background-color: purple;
        }

        &#highscore_view {
            background-color: yellow;
        }
    }
}

@include setDisplay('play_view');
@include setDisplay('home_view');
@include setDisplay('intructions_view');
@include setDisplay('highscore_view');