:root {
    --body-color: #fff;
    --body-fz: 18px;

    --app-border: 4px solid #fff;
    --app-border-radius: 10px;

    --content-wrapper-padding-x: 0px;
    --content-wrapper-line-height: 30px;
    --content-wrapper-header-fz: 28px;

    --btn-padding: 8px 32px;
    --btn-font-size: 18px;
    --btn-border: 1px solid #fff;
    --btn-color: #fff;
    --btn-background-color: transparent;
    --btn-box-shadow: 0 0 4px rgb(250, 250, 250);

    --home-btn-background-color: #b3ff00;
    --home-btn-background-color-hover: #d4ff6e;
    --home-btn-fz: 18px;
    --home-btn-color: #fff;
    --home-btn-color-hover: #ffffff;

    --footer-color: #fff;

    --scrollbar-thumb-border-radius: 10px;
    --scrollbar-track-background-color: #ffffffde;
    --scrollbar-thumb-background-color: #ff8800;
}